* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.block {
    width: 1170px;
    position: relative;
    padding: 20px 0 180px;
}

.header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fill-brief {
    color: white;
    font-family: 'OpenSans-300';
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse{
    cursor: pointer;
}

.logo-image {
    width: 88px;
    height: 38px;
}

.menu {
    width: 30%;
}

.menu>ul {
    display: flex;
    justify-content: space-between;
}

.menu ul>li {
    list-style: none;
}

.menu ul li>a {
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu ul > li:hover{
    text-decoration: line-through;
}

.tittle {
    margin-top: 234px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'OpenSans-300';
    font-size: 140px;
    color: white;
}

.arts {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.art-item-box {
    margin-top: -15px;
    z-index: -1;
    margin-bottom: 40px;
}

.art-item {
    width: 710px;
    height: 630px;
    background-color: #1c1c1c;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art-item-box:nth-child(2) {
    align-self: flex-end;
}

.art-item-box>p:nth-child(2) {
    font-size: 18px;
    font-family: 'OpenSans-400';
    color: #fff;
}

.art-item-box>p:nth-child(3) {
    font-size: 16px;
    font-family: 'OpenSans-300';
    color: #818182;
}

.elips {
    width: 100%;
    height: 880px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 231px;
}


.wear1,
.wear2,
.wear3 {
    width: 525px;
    height: 525px;
}
.fill-brief {
    height: 100px;
    width: 220px;
}

.ellipse {
    border-radius: 60%;
    border: 1px solid #F9B418;
    width: 160px;
    height: 55px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'OpenSans-300';
    font-size: 16px;
    font-weight: normal;

}

.elips-item {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 1px solid #F9B418;
    text-align: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wear2,
.elips-item:nth-child(2) {
    align-self: flex-end;
}

.wear1,
.elips-item:nth-child(1) {
    margin-right: -305px;
}

.wear3,
.elips-item:nth-child(3) {
    margin-left: -305px;
}

.elips-bottom {
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.elips-item>p {
    font-size: 36px;
    font-family: 'OpenSans-400';
}

.elips-bottom>p {
    font-size: 18px;
    font-family: 'OpenSans-300';
    color: #818182;
}

.slider {
    width: 100%;
    padding-left: 100px;
}

.slider>p {
    font-size: 48px;
    font-family: 'OpenSans-400';
    color: #fff;
    margin-bottom: 40px;
}

.nav-bar-menu {
    width: 95%;
    display: flex;
    justify-content: start;
}

.slider-nav p {
    font-size: 16px;
    font-family: 'OpenSans-300';
    color: white !important;
    margin-right: 50px;
    cursor: pointer;

}

#external-buttons p.active{
    border-bottom: 2px solid orange;
   }

   .prev{
    position: absolute;
    height: 10px;
    top: 80px;
    z-index: 999;
    left: 400px;
   }
   .next{
    position: absolute;
    z-index: 999;
    left: 500px;
    top: 80px;
   }
.slide-box {
    margin-top: 60px;
    display: inline-flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
}

.scroll {
    width: 62.2%;
    height: 2px;
    background-color: #8f8f8f;
    margin-top: 10px;
}

.nch {
    display: none;
}

.nav-items:hover {
    color: #8f8f8f;
}

.scroll-cursor {
    width: 60px;
    height: 2px;
    background-color: orange;
    animation: left .15s ease;
}

@keyframes left {

    0% {
        margin-left: 0;
    }

}

.scroll {
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.slider-for{
    width: 100%;
}
.slide {
    /* width: 920px !important;
    height: 450px !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 60px;
}
/* .slick-list{
    height: 450px !important;

} */
.img-box {
    height: 100%;
    float: left;
}

.txt-box {
    width: 561px;
    height: 450px;
    background-color: #1c1c1c;
    float: left;
}

.point-number {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin: 71px 30px;
    font-family: 'OpenSans-300';
    font-size: 18px;
}

.brief-hello {
    width: 60%;
    margin-left: 70px;
}

.brief-hello>p:nth-child(1) {
    color: white;
    font-family: 'OpenSans-400';
    font-size: 24px;
}

.brief-hello>p:nth-child(2) {
    color: #818182;
    font-family: 'OpenSans-300';
    font-size: 14px;
}

.brief-hello>p:nth-child(3) {
    color: #818182;
    font-family: 'OpenSans-300';
    font-size: 14px;
    margin-top: 30px;
}

.social {
    width: 80%;
    display: flex;
    margin-top: 40px;
}

.social>a {
    margin-right: 40px;
    color: #818182;
    text-decoration: none;
    font-family: 'OpenSans-300';
    cursor: pointer;
}

.social>a:hover {
    color: white;
}



.hi {
    width: 100%;
    height: 330px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 160px;
    /* position: relative; */
}

.hi>p:nth-child(1) {
    font-size: 48px;
    font-family: 'OpenSans-400';
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
/* 
    left: 100px;
    position: absolute;
    top: 200px; */
}

.we {
    align-self: flex-end;
}

.we>p:nth-child(1) {
    font-size: 48px;
    font-family: 'OpenSans-400';
}

.we>p:nth-child(2) {
    font-size: 16px;
    font-family: 'OpenSans-300';
    color: #818182;
    margin-top: 30px;
}

.our-best-team {
    width: 80%;
    margin-top: 270px;
}

.our-best-team>p:nth-child(1) {
    font-family: 'OpenSans-400';
    font-size: 48px;
    color: white;
}

.our-best-team>p:nth-child(2) {
    font-family: 'OpenSans-300';
    font-size: 16px;
    color: #818182;
    margin-top: 30px;
}

.photo-block-top {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.photo-block-top>.members-photo:nth-child(1) {
    margin-top: 60px;
}

.photo-block-top>.members-photo:nth-child(2) {
    margin-top: 165px;
}

.photo-block-top>.members-photo:nth-child(3) {
    margin-top: 92px;
}

.photo-block-bottom {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.photo-block-bottom>.members-photo:nth-child(1) {
    margin-top: 126px;
}

.photo-block-bottom>.members-photo:nth-child(2) {
    margin-top: 211px;
}

.about-members {
    max-width: 330px;
    height: 250px;
    background-color: #1a1a1a;
    z-index: 10;
    padding: 25px;
}

.about-members>p:nth-child(1) {
    color: white;
    font-size: 18px;
    font-family: 'OpenSans-400';
}

.about-members>p:nth-child(2) {
    color: #818182;
    font-size: 14px;
    font-family: 'OpenSans-300';
    margin-top: 5px;
}

.about-members>p:nth-child(3) {
    color: #fff;
    font-size: 14px;
    font-family: 'OpenSans-300';
    margin-top: 15px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    margin-top: -100px;
    /* background-color: #F9B418; */
}

.meneger {
    margin-top: -116px;
    margin-left: -30px;
}

.ui {
    margin-top: 50px;
}

.back-end {
    margin-right: 40px;
    margin-top: -40px;
}

.front-end {
    margin-top: -89px;
    margin-left: 30px;
}

.ux {
    margin-right: 500px;
    margin-top: -50px;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.link-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 23px;
    color: white;
    font-family: 'OpenSans-700';
}

footer {
    width: 100%;
    height: 446px;
    background: #FFFFFF;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.fill {
    text-align: center;
}

.fill h1 a {
    color: rgba(249, 180, 24, 1);
}

h1 {
    font-family: 'OpenSans-300';
    font-size: 48px;
}

.media {
    padding-top: 50px;
    width: 425px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    font-family: 'OpenSans-300';
    color: rgba(3, 3, 5, 1);
}

.media a {
    font-size: 18px;
    text-decoration: none;
}

.phone {
    position: absolute;
    bottom: 30px;
    left: 135px;
}

.phone a {
    padding-right: 50px;
    font-size: 16px;
}

.slider-for {
    width: 100%;
}

.media>a:hover{
    text-decoration: line-through;
}

.nav-items{
    outline: none;
}