* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url('Fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('Fonts/Open_Sans/OpenSans-Regular.ttf');
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #030305;
    font-family: 'Open Sans';
}

.block {
    width: 85%;
    position: relative;
    padding: 20px 0 180px;
}

/* .header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-image {
    width: 88px;
    height: 38px;
}

.menu {
    width: 30%;
}

.menu>ul {
    display: flex;
    justify-content: space-between;
}

.menu ul>li {
    list-style: none;
}

.menu ul li>a {
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu ul > li:hover{
    text-decoration: line-through;
} */



.header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.fill-brief {
    position: absolute;
    left: calc(50% - 160px);
    height: 100px;
    width: 220px;
    transition: .1s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Open Sans';

    font-size: 16px;
}

.ellipse {
    border-radius: 60%;
    border: 1px solid #F9B418;
    width: 160px;
    height: 55px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Open Sans';

    font-size: 16px;
    font-weight: normal;

    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu>ul>a>li {
    list-style: none;
    margin-right: 20px;

    position: relative;
}

.menu>ul>a>li::after {
    background-color: #FFFFFF;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    margin: auto 0;
    position: absolute;
    top: 0;
    transition: width .5s;
    width: 0;
}

.menu>ul>a>li:hover::after {
    width: 100%;
}

.menu>ul>a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';

}

.menu>ul>a:hover {
    color: rgb(185, 185, 185);
    transition: .1s ease-in-out;
}


/* .ellipse-button {
    position: absolute;
    left: 35%;
    height: 100px;
    width: 220px;
    transition: .1s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ellipse {
    border-radius: 60%;
    border: 1px solid #F9B418;
    width: 160px;
    height: 55px;
    background-color: transparent;
    color: #FFFFFF;
    transition: .3s;

} */

.information {
    width: 719px;
    /* height: 959px; */
    position: relative;
    /* top: 90px; */
    color: #FFFFFF;

}

h2 {
    font-weight: normal;
    font-size: 48px;
    padding: 90px 0 40px;
}

button,
input {
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;

}

.serviceButton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serviceButton button {
    border: 1px solid #818182;
    padding: 0px 45px;
    height: 50px;
}

input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
}

.task input {
    width: 500px;
}

.task {
    display: flex;
    flex-direction: column;

}

.attach {
    width: 145px;
    height: 40px;
    border-radius: 60px;
    background: #1A1A1C;
    border: none;
    margin-top: 30px;
}

.contact {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.contact input {
    width: 300px;
    height: 60px;
}

.brf {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sendBrief {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-top: 60px; */
    width: 400px;
    height: 300px;
    /* margin: 50px auto; */
}

.sendBrief button {
    border-radius: 50%;
    padding: 80px 30px;
    border: 1px solid #F9B418;
    width: 180px;
    height: 180px;
    background-color: transparent;
    color: #FFFFFF;
    /* transition: .3s; */
    top: 100px;
    left: 100px;
    background-size: cover;

}

/* #ellipse2{
    border-radius: 50%;
    padding: 80px 30px;
    border: 1px solid #F9B418;
    width: 180px;
    height: 180px;
    background-color: transparent;
    color: #FFFFFF;
    transition: .3s;
    top: 100px;
    left: 100px;
    background-size: cover;

} */

/* .sendBrief button a {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    position: relative;
    transition: .5s;
    text-align: center;

} */
#txt {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    position: relative;
    /* transition: .2s; */
    text-align: center;

}

.inf {
    color: #FFFFFF;
    text-align: center;
    width: 476px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    /* padding-top: 30px; */
}

footer {
    width: 100%;
    height: 355px;
    background: #FFFFFF;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill {
    text-align: center;
}

.fill h1 a {
    color: rgba(249, 180, 24, 1);
}

.arright {
    position: relative;
    transition: left .5s;
    left: 0;
}

.lefttext:hover~.arright {
    left: 25px;
}

h1 {
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight: 400;
}

.media {
    padding-top: 50px;
    width: 425px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    font-family: 'Open Sans';
    font-weight: 300;
    color: rgba(3, 3, 5, 1);
}

.media a {
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.phone {
    position: absolute;
    bottom: 30px;
    left: 135px;
}

.phone a {
    padding-right: 50px;
    font-size: 16px;
    color: rgba(129, 129, 130, 1);

}

.media a::after {
    background-color: black;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    margin: auto 0;
    position: absolute;
    top: 0;
    transition: width .5s;
    width: 0;
}


.media a:hover::after {
    width: 100%;
}

.mobile-menu {
    width: 100%;
}

.burger {
    display: none;
}

.burger-menu {
    width: 100%;
    position: absolute;
    background-color: black;
    display: none;
    top: 76px;
    padding-bottom: 20px;
    z-index: 9999;
}

.burger-menu>.media {
    align-self: flex-end;
}

.burger-menu>.media>a {
    color: #fff;
}

.burger-menu>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-menu>ul>li {
    list-style: none;
}

.burger-menu>ul>li>a {
    text-decoration: none;
    margin-bottom: 15px;
    color: #fff;
    font-size: 36px;
    line-height: 70px;
}

.burger {

    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
}

.burger>.line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: .15s;
}

.burger>.line:nth-child(2) {
    width: 80%;
}

@media screen and (max-width: 1250px) {
    .block {
        position: relative;
        padding: 20px 40px 100px;
    }
}

@media screen and (max-width: 650px) {
    .menu {
        display: none;
    }

    .burger {
        display: flex;
    }
    .fill-brief {
        margin-left: 70px;
    }
    .sendBrief {
        width: 300px;
    }
}

@media screen and (max-width: 830px) {
    .information {
        width: 100%;
    }

    .block {
        width: 100%;
        padding: 10px 15px 80px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    button,
    input {
        font-size: 14px;
    }

    .inf {
        font-size: 12px;
    }

    .media a {
        font-size: 14px;
    }

    .phone a {
        font-size: 12px;
    }

    .menu,
    .ellipse-button {
        display: none;
    }

    /* .serviceButton{

    } */
    .serviceButton button {
        padding: 0px 25px;
        height: 35px;
        margin-bottom: 15px;
    }

    .task input,
    .media,
    .inf {
        width: 80%;
    }

    .phone {
        text-align: center;
        left: auto;
    }

    .phone a {
        padding-right: 25px;
    }

}

@media screen and (max-width: 450px) {
    .fill {
        width: 99%;
        flex-direction: column;
        align-self: flex-start;
    }

    .fill h1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        height: 266px;
        padding: 60px 15px 30px;
    }

    .media {
        width: 100%;
    }
    .sendBrief {
        width: 210px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

button:hover {
    /* background-color: transparent; */
    border: 1px solid orange;
    color: orange;
    transition: .15s;
}

.attach:hover {
    background-color: orange;
    color: white;
    transition: .15s;
}

.ellipse:hover,
#ellipse2:hover {
    background-color: transparent;
    color: white;
}

/* .media>a:hover{
    text-decoration: line-through;
} */

.arrow-up {
    width: 60px;
    height: 60px;
    border: 1px solid orange;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 290px) {
    .fill-brief {
        margin-left: 120px;
    }
    .sendBrief {
        width: auto;
    }
}
@media screen and (max-width: 210px) {

    .fill-brief {
        margin-left: 170px;
    }
}